# Dependencies
node_modules
**/node_modules
npm-debug.log*

# build artifacts
dist
build

# nvironment files
.env
.env.local
.env.*.local

# Git
.git
.gitignore

# Docker configuration
Dockerfile*
docker-compose*
.dockerignore

# OS & IDE
.DS_Store
Thumbs.db
.idea
.vscode

# Documentation
README.md
LICENSE